<div class="footer">
    <div class="ft-social ">
            <i class="fa-solid fa-globe"></i>
            <a href="">English</a>
            <i class="fa-brands fa-square-facebook ml-3"></i>
            <i class="fa-brands fa-square-twitter ml-1" ></i>
            <i class="fa-brands fa-instagram ml-1"></i>
    </div>
    <div class="company mt-2  mb-2">&copy; 2024 Wanderlust, Inc</div>
    <div class="ft-terms">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>

